body {
  margin: 0;
  background-color: #ffffff;
  /* background-color: #e0e0e0; */
}
/* Sidebar Selected Menu Item */
.sidebar-links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 8px 16px;
  width: 100%;
  border-radius: 3px;
  text-decoration:none;
}
/* Sidebar Active Item */
.sidebar-links.Mui-selected,
.MuiList-root .MuiListItem-root .MuiButtonBase-root.Mui-selected {
  background: #007eb4;
}
.MuiList-root .MuiCollapse-root:after {
  content: "";
  position: absolute;
  bottom: -8px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #7a7e9e;
  left: 0;
  right: 0;
  margin: auto;
  width: 0px;
  height: 0px;  
}

.MuiList-root .MuiListItem-root .MuiButtonBase-root:hover .MuiListItemText-root span,
.MuiList-root .MuiListItem-root .MuiButtonBase-root:hover .MuiSvgIcon-root {
  color:#1eade6;
}
/* Background color for all the badge */
.MuiBadge-root .MuiBadge-badge {
  background-color:rgba(75, 189, 235, 0.25);
  color: #1579A1;
  line-height: 24px;
  display: block;
}
.MuiSwitch-root .MuiSwitch-thumb {background: #7a7e9e;}
.MuiSwitch-root .MuiSwitch-track {background: #acaeb4;}
.MuiSwitch-root .MuiButtonBase-root.Mui-checked .MuiSwitch-thumb,
.MuiSwitch-root .MuiButtonBase-root.Mui-checked ~ .MuiSwitch-track {background: rgb(21, 121, 161);}
.MuiDrawer-root.dropdown-open .MuiPaper-root {overflow:visible;}

.MuiTabs-root .MuiTabs-scroller .MuiTab-root.Mui-selected {color:#ffffff;}
.MuiTabs-root .MuiTabs-scroller .MuiTabs-indicator {background-color:#ffffff;}
.MuiTabs-root .MuiTabs-scrollButtons {
  color:#ffffff;
}
.MuiTabs-root .MuiTabs-scrollButtons.Mui-disabled {
  opacity: 0.3;
}

.projectTitle {
  text-decoration: none;
}
.MuiTablePagination-actions button:not(.Mui-disabled) svg,
.MuiDataGrid-selectedRowCount,
.MuiTablePagination-displayedRows,
.MuiDataGrid-root .MuiDataGrid-main .MuiDataGrid-row {
  color:#313636;
  text-transform: capitalize;
}
.MuiDataGrid-root,
.MuiDataGrid-footerContainer,
.MuiDataGrid-columnHeaders,
.MuiDataGrid-root .MuiDataGrid-main .MuiDataGrid-row .MuiDataGrid-cell {
  border-color:rgba(0,0,0,0.12)!important;
  border: none!important;
}
.MuiDataGrid-columnHeaders {border-bottom: 1px solid rgba(0,0,0,0.12)!important;}
.MuiDataGrid-root .MuiDataGrid-main .MuiDataGrid-row:hover,
.MuiDataGrid-root .MuiDataGrid-main .MuiDataGrid-row.Mui-selected {background-color: rgba(171, 173,181,0.17)!important; color:#1579a1; cursor: pointer;}
.MuiDataGrid-root .MuiDataGrid-main .MuiDataGrid-columnHeaders .MuiDataGrid-columnHeadersInner > div {border-left: 2px solid transparent;}
.MuiDataGrid-root .MuiDataGrid-main .MuiDataGrid-columnHeaders .MuiDataGrid-columnHeadersInner .MuiDataGrid-columnHeader:focus,
.MuiDataGrid-root .MuiDataGrid-main .MuiDataGrid-columnHeaders .MuiDataGrid-columnHeadersInner .MuiDataGrid-columnHeader:focus-within,
.MuiDataGrid-root .MuiDataGrid-main .MuiDataGrid-row .MuiDataGrid-cell:focus,
.MuiDataGrid-root .MuiDataGrid-main .MuiDataGrid-row .MuiDataGrid-cell:focus-within,
.MuiDataGrid-root .MuiDataGrid-main .MuiDataGrid-row .MuiDataGrid-cellCheckbox span:focus {outline: none!important;}
.MuiDataGrid-columnHeader .MuiDataGrid-columnHeaderTitle {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  color: #000000;
  font-family: 'Hind',sans-serif;
  margin-top: 4px;
}
.MuiDataGrid-root .MuiDataGrid-main .MuiDataGrid-columnHeaders .MuiDataGrid-columnSeparator svg {color:#1579a1; display: none;}
.MuiDataGrid-footerContainer {border-top: none!important;}

.MuiDataGrid-main .MuiDataGrid-virtualScrollerRenderZone .MuiDataGrid-row.super-app-theme--open {
    border-left: 2px solid #ffa726;
}
.MuiDataGrid-main .MuiDataGrid-virtualScrollerRenderZone .MuiDataGrid-row.super-app-theme--close {
    border-left: 2px solid #4db6ac;
}
.MuiDataGrid-main .MuiDataGrid-virtualScrollerRenderZone .MuiDataGrid-row.super-app-theme--hold {
    border-left: 2px solid #ef5350;
}
.spaceVertial {
  margin-top: 8px;
}
.MuiAutocomplete-root .MuiInputBase-root .MuiButtonBase-root {
  height: 24px;
  font-size: 12px;
  font-weight: 500;
}
.MuiAutocomplete-root .MuiInputBase-root .MuiButtonBase-root .MuiChip-label {padding-left: 10px; padding-right: 2px;}
.MuiAutocomplete-root .MuiInputBase-root .MuiButtonBase-root svg {margin-right: 2px; margin-left: 2px;}
.tox-tinymce {
  border: 1px solid rgba(0,0,0,0.12)!important;
  border-radius: 4px!important;
}
.tox .tox-statusbar {border-top-color:  rgba(0,0,0,0.12)!important;}
.tox:not(.tox-tinymce-inline) .tox-editor-header {box-shadow: none!important; border-bottom: 1px solid rgba(0,0,0,0.12)!important;}

.header-notifications-bar nav .MuiButtonBase-root ~ .MuiCollapse-root:after {display: none;}
.header-notifications-bar nav .MuiButtonBase-root.active svg,
.header-notifications-bar nav .MuiButtonBase-root.active div {color:#1579a1;}